<div class="container">
  <div class="user-content">
    <div class="user-info">
      <div><%= image_tag(current_user.avatar.url, alt: 'Avatar') if current_user.avatar? %></div>
      <h1><%= current_user.full_name %></h1>
      <% if !current_user.country.blank? && !current_user.city.blank? %>
        <p><%= current_user.country %>, <%= current_user.city %></p>
      <% else %>
        <p><%= current_user.country %> <%= current_user.city %></p>
      <% end %>
    </div>

    <div class="crud-links">
      <%= link_to 'Edit', edit_user_path(current_user) %> |
      <%= link_to 'Delete', current_user,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </div>

  </div>
</div>