<header class="header-block">
  <div class="container">
    <ul class="navbar-list">
      <li><%= link_to image_tag("logo.png", alt: "Logo", class: 'logo'), root_path %></li>
      <li><%= link_to "Туры по Украине", ukrainian_tours_path %></li>
      <li><%= link_to "Туры по Европе", european_tours_path %></li>
      <li><%= link_to "Интересные места", places_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </div>
</header>