<div class="flexslider">
  <ul class="slides">
    <% @tours[0..2].each do |tour| %>
      <li>
        <%= image_tag(tour.image.url, alt: 'Tour image') if tour.image? %>
        <div class="flex-caption">
          <div class="container">
            <h2><%= link_to tour.title, tour_path(tour) if tour.title? %></div></h2>
          </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="tours-wrapper">
  <div class="container">
    <ul class="row tours-list">
      <% @tours.drop(3).each do |tour| %>
        <li class="col-md-6">
          <div class="tours-item">
            <%= image_tag(tour.image.url, alt: 'Tour image', class: "img-responsive" ) if tour.image? %>
            <h2><%= link_to tour.title, tour_path(tour) if tour.title? %></h2>
            <span><%= tour.price %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
