<div class="header-banner">
  <%= image_tag(@tour.image.url, alt: 'Image') if @tour.image? %>
  <div class="container">
    <h1><%= @tour.title %></h1>
    <p><%= 5.times.map{ content_tag(:span, "", class: "fa fa-star") }.reduce(&:+) %></p>
  </div>
</div>

<div class="tabs-section">
  <div class="tabs-names-block">
    <ul class="container names-list">
      <li class="active-tab">Описание</li>
      <li>Программа</li>
    </ul>
  </div>

  <div class="tabs-descriptions-block">
    <ul class="container descriptions-list">
      <li class="tab-content active-tab-content">
        <ul class="description-info">
          <li><span class="fa fa-flag"></span><%= @tour.category %></li>
          <li><span class="fa fa-map-marker"></span><%= @tour.city %></li>
          <li><span class="fa fa-globe"></span><%= @tour.duration %></li>
          <li><span class="fa fa-clock-o"></span><%= @tour.date %></li>

        </ul>
        <p class="price">Цена:
          <%= @tour.price %>
          <% if @tour.category == "Туры по Европе" %>
            €
          <% else %>
            грн
          <% end %>
        </p>
        <div><%= raw(@tour.description) %></div>
      </li>
      <li class="tab-content">
        <div><%= raw(@tour.program) %></div>
      </li>
    </ul>
  </div>
</div>