<!DOCTYPE html>
<html>
  <head>
    <title>UkrTour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Include At.JS style. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.4.0/css/jquery.atwho.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

  </head>

  <body>
  <div class="authorization-block">
    <div class="container">
      <div class="authorization-links">
        <% if current_user %>
          <span>Logged in as <%= current_user.email%> | </span>
          <%= link_to "Log Out", logout_path %>
        <% elsif current_admin_user %>
          <span>Logged in as <%= current_admin_user.email %> | </span>
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> |
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div><%= yield %></div>


  </body>
</html>
